@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: #ef8d21;
  --white: #ffffff;
  --max-width: 80%;
  --bg-color: #fffcf9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Poppins", sans-serif;
  background: var(--bg-color);
  font-size: 16px;
}
body {
  background: url("/images/leaf1.png") no-repeat;
  height: 100vh;
  width: 100vw;
  background-position: left bottom;
  display: flex;
  flex-direction: column;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: var(--max-width);
  margin: auto;
}

header {
  width: 100%;
  position: fixed;
  padding: 1rem 0;
  z-index: 9;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.navbar__logo,
.navbar__logo img {
  height: 100%;
}
.navbar__links {
  display: flex;
  gap: 50px;
}

.navbar__item a {
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}

.navbar__item--active a {
  font-weight: 600;
  position: relative;
}

.navbar__item--active a::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 2px;
  background: var(--primary-color);
  top: 100%;
  left: 0;
  animation: animate_active 1s linear forwards;
}

@keyframes animate_active {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

.navbar__buttons {
  display: flex;
  gap: 20px;
}

/* Buttons */
.button {
  border: none;
  padding: 15px;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
}

.button--primary {
  background: var(--primary-color) !important;
  border-radius: 40px;
  color: var(--white);
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  gap: 10%;
  height: 100%;
  width: 100%;
  position: relative;
  /* flex: 1; */
  /* overflow: hidden; */
}

.hero__content {
  flex: 1;
}

.hero__title {
  font-size: 2rem;
  font-weight: normal;
}

.hero__subtitle {
  font-size: 3rem;
  font-weight: bold;
}

.hero__subtitle span {
  color: var(--primary-color);
}

.hero__form {
  display: flex;
  gap: 10px;
  padding: 15px;
  background: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  margin-top: 15px;
  width: fit-content;
}

.hero__form input,
.hero__form button {
  flex: 1;
  background: transparent;
  border: none;
  padding: 10px 15px;
  outline: none;
  width: 25%;
}

.hero__form button {
  border: 1px solid black;
  border-radius: 50px;
  box-shadow: 0px 5px 2px #ef8d21;
}

.hero__form input {
  border-right: 1px solid lightgray;
}
.hero__form input:nth-last-of-type(1) {
  border-right: none;
}

/* Hero Image */
.hero__image {
  position: relative;
  width: 500px;
  height: 80%;
  background: url(/images/vector.png) no-repeat bottom;
  background-size: contain;
}

.hero__character {
  width: 60%;
  height: 80%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  bottom: 10%;
}

.hero__shape {
  width: 40%;
  aspect-ratio: 1/1;
  border: 10px solid var(--primary-color);
  opacity: 0.2;
  border-radius: 50%;
  left: 5%;
  position: absolute;
  z-index: 1;
}

.hero__image img {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  bottom: 0;
  display: block;
  left: 50%;
  transform: translateX(-50%);
}

.hero__price {
  position: absolute;
  top: 10%;
  right: -40%;
  font-size: 20px;
  font-weight: bold;
}

.hero__price p {
  color: var(--primary-color);
  font-size: 3rem;
}

.overlay {
  position: absolute;
  right: 0;
  bottom: 0;
}

.animate-left-to-right {
  animation: slideLeftToRight 1s ease-in-out forwards;
}
@keyframes slideLeftToRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0) !important;
    opacity: 1;
  }
}

.animate-top-to-bottom {
  animation: slideTopToBottom 1s ease-in-out forwards;
}
@keyframes slideTopToBottom {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0) !important;
    opacity: 1;
  }
}
